body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.calculator-container {
    height: 500px;
    width: 400px;
    color: white;
    display: grid;
    padding: 10px;
    background-color: black;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

#result-display {
    grid-column: span 4;
}

#zero {
    grid-column: span 2;
}

.grid-item {
    border-color: white;
    border: 5px solid;
    display: grid;
    place-content: center;
    font-size: large;
}